*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 1.2em;
  background-color: #404040;
}
h1 {
  text-align: center;
}

div {
  display: block;
  height: 180px;
  max-width: 500px;
  background: #d4d4d4;
  color: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  border: 10px inset #a96d00;
}

button {
  width: 100px;
  height: 40px;
  text-transform: uppercase;
  border-radius: 10%;
  border: 2px solid #a96d00;
}

button:hover {
  background-color: #7b7b7b;
  cursor: pointer;
}

button:visited {
  border: none;
  padding: 0;
}
#buttonArea {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
