*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 1.2em;
}

body {
  align-items: center;
  background: #343434;
  color: #fefefe;
  display: flex;
  font-family: Helvetica, Arial, sans-serif;
  justify-content: center;
  line-height: 230%;
  min-height: 100vh;
}

main {
  font-size: 2rem;
  min-width: 650px;
  max-width: 900px;
}

button {
  height: 35px;
  min-width: 100px;
  width: auto;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.resetButton {
  display: none;
}
